.mainContainer {
  max-width: 800px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.contentHeadSection {
  display: flex;
  margin-bottom: 25px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .contentHeadSection {
    flex-direction: column-reverse;
  }
}

.addBtn {
  margin-left: auto;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  gap: 1ch;
}

.cardWrapper {
  width: 100%;
  cursor: pointer;
  justify-self: center;
  align-self: center;
}
