.nav {
  position: sticky;
  display: flex;
  height: 60px;
  width: 600px;
  padding: 0 10px;
  margin: 0 auto;
  margin-bottom: 15px;
  top: 0;
  background-color: #fff;
  border-bottom: solid 1px #111;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

@media print {
  .nav {
    display: none;
  }
}

.main {
  width: 600px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin: 0 auto;
  box-sizing: border-box;
}
