.cardContainer {
  width: 100%;
  max-width: 250px;
}

.cardContainer,
.cardContainer * {
  box-sizing: border-box;
}

.cardContent {
  display: flex;
  min-height: 250px;
  border-radius: 5px;
  overflow: hidden;
  flex-direction: column;
}

.bannerContainer {
  position: relative;
  max-height: 250px;
  background-color: #7f7f7f;
  aspect-ratio: 1;
}

.bannerImg {
  height: 100%;
  width: 100%;
}

.cardBody {
  width: 100%;
  padding: 10px;
  border: solid 4px #f2f2f2;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.bannerTitle,
.bannerDescription {
  margin: 0;
}

.bannerDate {
  margin: 0 0 10px;
  font-size: 15px;
}

.bannerTitle,
.bannerDate,
.bannerDescription {
  word-break: break-all;
}
