.container {
  display: flex;
  height: 100vh;
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
}

.container,
.container * {
  box-sizing: border-box;
}

.leftContainer {
  position: relative;
  flex: 2.5;
}

@media screen and (max-width: 1024px) {
  .leftContainer {
    flex: 0;
  }
}

.logoContainer {
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

.sideImgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .sideImgContainer {
    display: none;
  }
}

.rightContainer {
  display: flex;
  padding: 0 15px;
  color: white;
  background-color: #2a6877;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.inputGroup {
  margin-bottom: 10px;
}

.input {
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button {
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.errorMsg {
  color: #ff7474;
}

.link {
  display: flex;
  width: max-content;
  margin-top: 25px;
  margin-left: auto;
  color: #fff;
  justify-content: center;
  align-items: center;
}
