.editableButtons {
  display: grid;
  width: fit-content;
  margin-left: auto;
  grid-template-columns: 1fr 1fr;
  gap: 1ch;
}

@media screen and (max-width: 500px) {
  .editableButtons {
    grid-template-columns: auto;
  }
}

.actionBtn {
  font-size: 24px !important;
}

.pageTitle {
  margin: 25px 0;
}

.editorContainer {
  margin-top: 25px;
}
