.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

.container > div {
  position: relative;
  display: flex;
  padding-right: 10px;
  margin-right: 10px;
  align-items: center;
}

.container > div:not(:last-child)::after {
  content: "";
  background-color: #f2f2f2;
  height: 21px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s;
  width: 2px;
}

@media screen and (max-width: 768px) {
  .container > div {
    padding-right: unset;
    margin: 5px 0;
  }

  .container > div:not(:last-child)::after {
    content: none;
  }
}

.select {
  margin-left: 15px;
  color: #777777;
  background-color: #f2f2f2;
}

.select > * {
  color: #777777;
}
