.modal {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 99;
}

@media screen and (max-width: 500px) {
  .modal {
    align-items: flex-end;
  }
}

.modalBody {
  width: 100%;
  max-width: 500px;
  max-height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
  border-radius: 5px;
  overflow: auto;
  box-sizing: border-box;
}

.modalContent {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  gap: 1ch;
}

.modalIcon {
  font-size: 36px;
}

.buttonContainer {
  display: grid;
  width: fit-content;
  margin-left: auto;
  grid-template-columns: 1fr 1fr;
  gap: 1ch;
}
