.avatarIcon {
  display: grid;
  padding: 0;
  color: #2a6877;
  background-color: transparent;
  border-radius: 50%;
  border-color: transparent;
  font-size: 50px;
  place-items: center;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .avatarIcon {
    margin-left: 50px;
  }
}

.avatarIcon,
.avatarIcon * {
  box-sizing: border-box;
}