.cardContent {
  width: 100%;
  display: flex;
  border: solid 4px #f2f2f2;
  border-radius: 5px;
  overflow: hidden;
}

.cardContent,
.cardContent * {
  box-sizing: border-box;
}

@media screen and (max-width: 500px) {
  .cardContent {
    flex-direction: column;
  }
}

.cardContent:hover {
  filter: brightness(95%);
}

.bannerImg {
  height: 100%;
  width: 100%;
}

.bannerContainer {
  position: relative;
  min-width: 250px;
  min-height: 250px;
  background-color: #7f7f7f;
}

.bannerImg {
  height: 100%;
  width: 100%;
}

.cardBody {
  width: 100%;
  padding: 10px;
  background-color: #fff;
}

.bannerTitle,
.bannerDescription {
  margin: 0;
  margin-bottom: 15px;
  word-break: break-all;
}
