.alertContainer {
  position: fixed;
  display: flex;
  width: 100%;
  max-width: 500px;
  left: 50%;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -25%);
  z-index: 999;
}

.alert {
  width: 100%;
  max-width: 500px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

.alertBody {
  flex: 1;
}

.closeButton,
.closeButton:active,
.closeButton:hover {
  color: #fff;
  background-color: transparent;
}
