.drawerTitle {
  margin-bottom: 25px;
}

.drawerBody {
  display: flex;
  padding: 10px 0;
  flex-direction: column;
  flex: 1;
}

.drawerContent {
  flex: 1;
}

.inputGroup {
  margin-bottom: 15px;
}

.formBtn {
  width: 100%;
  margin-bottom: 10px;
}

.modalContent {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  gap: 1ch;
}

.modalIcon {
  font-size: 36px;
}
