.profileContainer {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 3ch;
  flex: 1;
}

.profileImgContainer {
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1;
}

.profileName {
  font-size: 28px;
}
