.addBtn {
  margin-left: auto;
  width: fit-content;
  font-size: 24px !important;
}

.pageTitle {
  margin: 25px 0;
}

.contentContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.levelSubtitle {
  margin-top: 5px;
  margin-bottom: 0;
}

.moreBtn,
.moreBtn:hover,
.moreBtn:active {
  background-color: transparent;
}
