.pageTitle {
  margin-bottom: 25px;
}

.addBtn {
  width: fit-content;
  margin-left: auto;
  margin-bottom: 10px;
  font-size: 24px !important;
}

.printBtn {
  width: fit-content;
  margin-bottom: 10px;
}

.tableContainer {
  margin-top: 25px;
  margin-bottom: 25px;
}

.groupHeader,
.groupTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.groupTitle {
  width: 100%;
  gap: 3ch;
}

@media screen and (max-width: 500px) {
  .groupTitle {
    align-items: flex-start;
    flex-direction: column;
  }
}

.groupTitleBody {
  display: flex;
  gap: 3ch;
  overflow: hidden;
}

@media screen and (max-width: 500px) {
  .groupTitleBody {
    flex-direction: column;
  }
}

.groupSubtitle {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
}

.groupSubvalue {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.currencyFlowContainer {
  display: flex;
  gap: 2ch;
}

@media screen and (max-width: 500px) {
  .currencyFlowContainer {
    flex-direction: column;
  }
}

.currencyFlowTitle {
  margin-top: 0;
}

.currency {
  margin-bottom: 0;
  font-size: 20px;
}

.select {
  color: #777777;
  background-color: #f2f2f2;
}

.select > * {
  color: #777777;
}

.moreBtn {
  color: #111;
  font-size: 28px;
}

.moreBtn,
.moreBtn:hover,
.moreBtn:active {
  background-color: transparent;
}

.green {
  color: #50ac97;
}

.red {
  color: #ff7474;
}

.printInputDate {
  margin-bottom: 15px;
  box-sizing: border-box;
}

.printButtonContainer {
  display: grid;
  width: fit-content;
  margin-left: auto;
  grid-template-columns: 1fr 1fr;
  gap: 1ch;
}
