.pageWrapper {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pageWrapper,
.pageWrapper * {
  box-sizing: border-box;
}

.subTitle {
  position: relative;
  margin-bottom: 25px;
}

.subTitle::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 10px;
  right: 10px;
  height: 5px;
  background-color: #2a6877;
}

.form {
  display: flex;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 25px;
  gap: 1ch;
}

.form input {
  border: none;
  border-bottom: solid;
  line-height: 30px;
  outline: unset;
  flex: 1;
}

.form button {
  min-width: 44px;
  min-height: 44px;
  border: none;
  background: none;
  font-size: 25px;
}

.contentContainer {
  display: flex;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  flex-wrap: wrap;
  gap: 1ch;
}

.documentLink {
  width: 100%;
}
