.drawerTitle {
  margin-bottom: 25px;
}

.drawerBody {
  display: flex;
  padding: 10px 0;
  flex-direction: column;
  flex: 1;
}

.drawerContent {
  flex: 1;
}

.avatarPicker {
  margin: 0 auto;
}

.inputGroup {
  margin-bottom: 15px;
}

.link {
  display: block;
  margin-right: 7px;
  text-decoration: underline;
  overflow: hidden;
  text-overflow: ellipsis;
}

.formBtn {
  width: 100%;
  margin-bottom: 10px;
}
