.button {
  position: relative;
  display: inline-flex;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 5px;
  border-color: transparent;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  place-items: center;
  cursor: pointer;
  transition: all 1s;
}

.button,
.button * {
  box-sizing: border-box;
}

.defaultBtn {
  color: #111;
  background-color: #c6d8e4;
}

.defaultBtn:hover {
  background-color: #bcd0dd;
}

.defaultBtn:active {
  background-color: #aec3d1;
}

.greenBtn {
  color: #fff;
  background-color: #50ac97;
}

.greenBtn:hover {
  background-color: #489f8b;
}

.greenBtn:active {
  background-color: #3f8d7b;
}

.redBtn {
  color: #fff;
  background-color: #ff7474;
}

.redBtn:hover {
  background-color: #e96666;
}

.redBtn:active {
  background-color: #d15b5b;
}
