html {
  /* scroll-behavior: smooth; */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.focused {
  outline: 2px solid rgb(60, 132, 244);
  user-select: none;
}
