.contentLayout {
  background-color: transparent;
}

.contentHeadSection {
  display: flex;
  margin-bottom: 25px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .contentHeadSection {
    flex-direction: column;
  }
}

.contentHeadPart {
  flex: 1;
}

.printBtn {
  width: fit-content;
  margin-bottom: 10px;
}

.contentBodySection {
  padding: 10px;
  margin-bottom: 25px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.moreBtn,
.moreBtn:hover,
.moreBtn:active {
  background-color: transparent;
}
